/* 투어보러가기  */
section .go_btn {
    display:inline-block;
    background:#FFCB2F; padding:20px 100px; border-radius:50px;
}
section .go_btn:hover {
    background:#EC524B;
}
section .go_btn span {
    color:#fff; font-size:1.777rem; 
    margin-right:15px; font-weight:500;
}
section .go_btn img {
    width:24px; height:24px;
}
/* 단락제목 */
section .title {}
section .title .pen {
    font-family:nanum pen script; font-size:2.369rem; letter-spacing:-0.06em;
    color:#333; text-align:center; margin-bottom:40px;
}
section .title .title_big {}
section .title .title_big em {
    font-family:chana; font-size:3.157rem; color:#EC524B; letter-spacing:-0.06em;
}
section .title .title_big .ko {
    font-family:chana; font-size:3.157rem; color:#333; letter-spacing:-0.06em;  
}
section .title .title_big .en {
    font-family:sansitaone; font-size:3.157rem; letter-spacing:-0.06em; color:#333;
}
section .detail {
    font-size:1.777rem; letter-spacing:-0.06em; line-height:51px; text-align:center;
}

/* 1.제목 */
.bg_out {
    background:pink; border-bottom-left-radius:35%; border-bottom-right-radius:35%;
    overflow:hidden;
}
.bg_out .cover_bg {
    background:url(../image/1_bg.jpg) no-repeat fixed 0 bottom;
    background-size:cover;
}
.bg_out .cover_bg .cover {
    width:1200px; height:900px; margin:0 auto;
    display:flex; flex-flow:column nowrap; align-items:center;
}
.bg_out .cover_bg .cover .maintitle {margin-top:159px; margin-bottom:191px;
}
.bg_out .cover_bg .cover .maintitle img {}
.bg_out .cover_bg .cover .go_btn {
}
.bg_out .cover_bg .cover .go_btn span {}
.bg_out .cover_bg .cover .go_btn img {}
/* 2.혜택 */
.benefit_bg {
    background: linear-gradient(180deg, rgba(221, 240, 232, 0.34) 0%, rgba(255, 255, 255, 0.00) 0.01%, rgba(255, 255, 255, 0.24) 72.40%, rgba(255, 250, 225, 0.92) 100%);
}
.benefit_bg .benefit {
    width:1200px; margin:0 auto;
    display:flex; flex-flow:column nowrap; align-items:center; padding:100px 0;
}
.benefit_bg .benefit > * {margin-bottom:70px;}
.benefit_bg .benefit > *:last-child {margin-bottom:0;}
.benefit_bg .benefit .title {}
.benefit_bg .benefit .title .pen {}
.benefit_bg .benefit .title .title_big {}
.benefit_bg .benefit .title .title_big em {color:#FFCB2F;}
.benefit_bg .benefit .title .title_big .ko {}
.benefit_bg .benefit .detail {color:#333;}
.benefit_bg .benefit .benefit_list {
    display:flex; flex-flow:row nowrap; justify-content:space-between;
}
.benefit_bg .benefit .benefit_list li {
    display:flex; flex-flow:column nowrap; align-items:center;
    width:calc(33.33% - 60px / 3); margin-right:30px;
}
.benefit_bg .benefit .benefit_list li:last-child {margin-right:0;}
.benefit_bg .benefit .benefit_list li img {
    margin-bottom:25px;
}
.benefit_bg .benefit .benefit_list li span {}
.benefit_bg .benefit .benefit_list li span:nth-of-type(1) {
    font-family:nanum pen script; font-size:3.157rem; letter-spacing:-0.06em; color:#EC524B;
    margin-bottom:25px;
}
.benefit_bg .benefit .benefit_list li span:nth-of-type(2) {
    font-size:1.333rem; letter-spacing:-0.06em; font-weight:500; color:#333;
    margin-bottom:20px;
}
.benefit_bg .benefit .benefit_list li em {
    font-size:2.369rem; font-weight:700; letter-spacing:-0.06em; color:#333;
}
.benefit_bg .benefit .go_btn {}
.benefit_bg .benefit .go_btn span {}
.benefit_bg .benefit .go_btn img {}
/* 3.여행미리보기 */
.preview_bg {
    background:#FFFAE1;
}
.preview_bg .preview {
    width:1200px; margin:0 auto; padding:100px 0; 
    display:flex; flex-flow:column nowrap; align-items:center;
}
.preview_bg .preview .title {margin-bottom:40px;}
.preview_bg .preview .title .title_big {}
.preview_bg .preview .title .title_big em {}
.preview_bg .preview .title .title_big em span {font-weight:700; font-size:2.369rem;}
.preview_bg .preview .title .title_big .ko {}
.preview_bg .preview .detail {margin-bottom:70px; color:#333;}
.preview_bg .preview .photo {
    display:flex; flex-flow:row wrap; justify-content:space-between;
}
.preview_bg .preview .photo img {
    width:calc(50% - 36px / 2); margin-bottom:36px;
}
/* 4.명소 */
.place_bg {
    background:url(../image/4_place_bg.jpg) no-repeat;
    background-size:cover;
}
.place_bg .place {
    width:1200px; margin:0 auto; padding:100px 0; 
    display:flex; flex-flow:column nowrap; align-items:center;
}
.place_bg .place > * {margin-bottom:70px;}
.place_bg .place > *:last-child {margin-bottom:0;}
.place_bg .place .title {}
.place_bg .place .title .pen {}
.place_bg .place .title .title_big {}
.place_bg .place .title .title_big em {}
.place_bg .place .title .title_big .en {}
.place_bg .place .place_list {}
.place_bg .place .place_list li {position:relative; margin-bottom:30px;}
.place_bg .place .place_list li:last-child {margin-bottom:0;}
.place_bg .place .place_list li .place_img {}
.place_bg .place .place_list li .place_img img {
    width:100%;
}
.place_bg .place .place_list li .place_detail {
    padding:25px; 
    position:absolute; 
    top:40px; right:0;
}
.place_bg .place .place_list li .place_detail h3 {
    font-size:2.369rem; font-weight:700; letter-spacing:-0.06em; color:#FFCB2F;
}
.place_bg .place .place_list li .place_detail h3 span {
    font-size:1.777rem; font-weight:700; letter-spacing:-0.06em;
}
.place_bg .place .place_list li:nth-child(3) .place_detail h3 {letter-spacing:-0.07em;}
.place_bg .place .place_list li:nth-child(3) .place_detail h3 span {letter-spacing:-0.07em;}
.place_bg .place .place_list li .place_detail h3::after {
    content:''; width:520px; height:1px; background:#FFCB2F; display:block;
    margin:20px 0;
}
.place_bg .place .place_list li .place_detail p {
    font-size:1.333rem; color:#333; letter-spacing:-0.06em; line-height:45px; 
}
.place_bg .place .place_list li:nth-child(2) .place_detail {
    left:0;
}
.place_bg .place .contents_video {}
.place_bg .place .contents_video iframe {
    width:1200px;
}
/* 5.맛집 */
.food_bg {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFFAE1 100%), #FFD75E;
}
.food_bg .food {
    width:1200px; margin:0 auto; padding:100px 0;
    display:flex; flex-flow:column nowrap; align-items:center;
}
.food_bg .food > * {margin-bottom:50px;}
.food_bg .food > *:last-child {margin-bottom:0;}
.food_bg .food .title {}
.food_bg .food .title .pen {}
.food_bg .food .title .title_big {}
.food_bg .food .title .title_big em {}
.food_bg .food .title .title_big span {}
.food_bg .food .container {}
.food_bg .food .container .top {
    padding:30px 0;
    background:#fff; border-radius:25px; width:1200px;
    display:flex; flex-flow:column nowrap; align-items:center;
    margin-bottom:50px; 
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
.food_bg .food .container .top h3 {
    font-size:1.777rem; color:#333; font-weight:700; letter-spacing:-0.06em;
    line-height:65px; margin-bottom:30px;
}
.food_bg .food .container .top h3 span {
    font-size:3.157rem; letter-spacing:-0.06em; font-weight:700; color:#FFCB2F;
}
.food_bg .food .container .top p:nth-of-type(1) {margin-bottom:20px;}
.food_bg .food .container .top p img {width:880px;}
.food_bg .food .container .top p:nth-of-type(2) {
    width:694px; 
}
.food_bg .food .container .top p span {
    font-size:1.333rem; letter-spacing:-0.06em; justify-content:center; color:#333;
}
.food_bg .food .container .top p span:nth-child(1) {margin-right:77px;}
.food_bg .food .container .top p span:nth-child(2) {margin-right:92px;}
.food_bg .food .container .top p span:nth-child(3) {margin-right:101px;}
.food_bg .food .container .top p span:nth-child(4) {margin-right:92px;}
.food_bg .food .container .bottom {
    display:flex; flex-flow:row wrap; justify-content:center; 
}
.food_bg .food .container .bottom li {
    width:calc(33.33% - 40px / 3); margin-right:20px;
    display:flex; flex-flow:column nowrap; align-items:center; margin-bottom:50px;
}
.food_bg .food .container .bottom li:nth-child(4),
.food_bg .food .container .bottom li:nth-child(5) {margin-bottom:0;}
.food_bg .food .container .bottom li > * {margin-bottom:15px;}
.food_bg .food .container .bottom li:nth-child(3n) {margin-right:0;}
.food_bg .food .container .bottom li p {}
.food_bg .food .container .bottom li p img {}
.food_bg .food .container .bottom li .food_type {font-weight:500; letter-spacing:-0.06em; color:#333;}
.food_bg .food .container .bottom li h3 {
    font-size:1.777rem; font-weight:700; color:#EC524B; letter-spacing:-0.06em; 
    display:flex; flex-flow:column nowrap; align-items:center;
}
.food_bg .food .container .bottom li h3::after {
    content:''; width:74px; height:1px; background:#FFCB2F; display:block;
    margin:20px 0 0 0;
}
.food_bg .food .container .bottom li .list_detail {
    font-size:1.333rem; letter-spacing:-0.06em; color:#333;
}
/* 6.놀거리 */
.activity_bg {
    background:#FFFAE1;
}
.activity_bg .activity {
    width:1200px; margin:0 auto; padding:100px 0;
    display:flex; flex-flow:column nowrap;
    align-items:center; 
}
.activity_bg .activity .title {margin-bottom:70px;}
.activity_bg .activity .title .pen {}
.activity_bg .activity .title .title_big {}
.activity_bg .activity .title .title_big em {}
.activity_bg .activity .title .title_big span {}
.activity_bg .activity .activity_list {
    display:flex; flex-flow:row nowrap; justify-content:space-between;
}
.activity_bg .activity .activity_list li {
    width:calc(33.33% - 40px / 3); margin-right:20px;
}
.activity_bg .activity .activity_list li:last-child {margin-right:0;}
.activity_bg .activity .activity_list li p:first-child {margin-bottom:20px;}
.activity_bg .activity .activity_list li p img {}
.activity_bg .activity .activity_list li h3 {
    font-size:1.777rem; font-weight:700; letter-spacing:-0.06em; 
    display:flex; flex-flow:column nowrap; align-items:center; color:#EC524B;
}
.activity_bg .activity .activity_list li h3::after {
    content:''; display:block; width:74px; height:1px; background:#FFCB2F; margin:22px 0 13px;
}
.activity_bg .activity .activity_list li .list_detail {
    text-align:center; font-size:1.333rem; line-height:45px; letter-spacing:-0.06em;   
}
/* 7.리조트 */
.resort_bg {
    background:url(../image/resort_bg.jpg) no-repeat;
    background-size:cover;
}
.resort_bg .resort {
    width:1200px; margin:0 auto; padding:100px 0;
    display:flex; flex-flow:column nowrap; 
    align-items:center;
}
.resort_bg .resort > * {margin-bottom:50px;}
.resort_bg .resort > *:last-child {margin-bottom:0;}
.resort_bg .resort .title {}
.resort_bg .resort .title .pen {}
.resort_bg .resort .title .title_big {}
.resort_bg .resort .title .title_big em {}
.resort_bg .resort .title .title_big span {}
.resort_bg .resort .container {}
.resort_bg .resort .container .contents {
    width:1200px;
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
}
.resort_bg .resort .container .contents .resort_name {
    width:500px; margin-top:124px;
}
.resort_bg .resort .container .contents .resort_name h3 {
    font-size:1.777rem; color:#EC524B; letter-spacing:-0.06em; font-weight:700;
    margin-bottom:35px;
}
.resort_bg .resort .container .contents .resort_name p {
    letter-spacing:-0.06em; color:#333; line-height:35px;
    
}
.resort_bg .resort .container .contents .resort_image {width:641px;}
.resort_bg .resort .container .contents .resort_image img {}
/* 빈펄리조트 */
.resort_bg .resort .container .contents:nth-child(2) {}

.resort_bg .resort .container .contents:nth-child(2) .resort_name {order:1;}
.resort_bg .resort .container .contents:nth-child(2) .resort_name h3 {
}
.resort_bg .resort .container .contents:nth-child(2) .resort_name p {
}
.resort_bg .resort .container .contents:nth-child(2) .resort_image {order:-1}
.resort_bg .resort .container .contents:nth-child(2) .resort_image img {}
/* 8.퀴즈 */
.quiz_bg {
    background:url(../image/8_quiz_bg.jpg) no-repeat bottom;
    background-size:cover; 
}
.quiz_bg .quiz {
    width:1200px; margin:0 auto; padding:100px 0;
}
.quiz_bg .quiz .title {text-align:center; margin-bottom:70px;}
.quiz_bg .quiz .title .pen {}
.quiz_bg .quiz .title .title_big {}
.quiz_bg .quiz .title .title_big em {}
.quiz_bg .quiz .title .title_big .ko {}
.quiz_bg .quiz .container {
    display:flex; flex-flow:row nowrap; justify-content:space-between; align-items:center;
}
.quiz_bg .quiz .container .left {}
.quiz_bg .quiz .container .left .quiz_title {
    font-size:1.333rem; letter-spacing:-0.06em; font-weight:700; margin-bottom:35px; color:#333;

}
.quiz_bg .quiz .container .left #quizFrm {}
.quiz_bg .quiz .container .left #quizFrm fieldset {}
.quiz_bg .quiz .container .left #quizFrm fieldset ul {margin-bottom:35px;}
.quiz_bg .quiz .container .left #quizFrm fieldset ul li {margin-bottom:25px;}
.quiz_bg .quiz .container .left #quizFrm fieldset ul li:last-child {margin-bottom:0;}

.quiz_bg .quiz .container .left #quizFrm fieldset ul li label {}
.quiz_bg .quiz .container .left #quizFrm fieldset ul li label input {
    appearance: none;
}
.quiz_bg .quiz .container .left #quizFrm fieldset ul li label #q1 {}
.quiz_bg .quiz .container .left #quizFrm fieldset ul li label #q2 {}
.quiz_bg .quiz .container .left #quizFrm fieldset ul li label #q3 {}
.quiz_bg .quiz .container .left #quizFrm fieldset ul li label #q4 {}
.quiz_bg .quiz .container .left #quizFrm fieldset ul li label span {
    background:url(../image/check_box_outline_blank.png) no-repeat left; padding-left:30px; 
    font-size:1.333rem; letter-spacing:-0.06em; font-weight:500; color:#333
}
.quiz_bg .quiz .container .left #quizFrm fieldset ul li label input:checked+span {
    background-image:url(../image/check_box.png);
}
.quiz_bg .quiz .container .left #quizFrm fieldset #quizBtn {
    display:inline-block; padding:15px 170px; background:#333; border-radius:30px; 
    color:#fff; font-size:1.333rem; letter-spacing:-0.04em;
}
.quiz_bg .quiz .container .left #quizFrm fieldset #quizBtn:hover {
    background:#FFCB2F;
}
.quiz_bg .quiz .container .right {width:550px;}
.quiz_bg .quiz .container .right .dday {margin-bottom:30px;}
.quiz_bg .quiz .container .right .dday .top {
    background:#FFCB2F; padding:20px 0; border-top-left-radius:20px; border-top-right-radius:20px;
    color:#fff;
    display:flex; flex-flow:row nowrap; justify-content:center; align-items:center;
    
}
.quiz_bg .quiz .container .right .dday .top img {}
.quiz_bg .quiz .container .right .dday .top span {
    font-size:1.333rem; letter-spacing:-0.04em; font-weight:700; margin-left:20px;}
.quiz_bg .quiz .container .right .dday .bottom {
    background:#fff; padding:60px 0; text-align:center;
    border-bottom-left-radius:20px; border-bottom-right-radius:20px;
}
.quiz_bg .quiz .container .right .dday .bottom span {
    font-size:6rem; font-weight:700;
}
.quiz_bg .quiz .container .right .dday .bottom span:first-child {color:#FFCB2F;}
.quiz_bg .quiz .container .right .dday .bottom span:last-child {color:#333;}
.quiz_bg .quiz .container .right > p {
    font-weight:700; color:#333; text-align:center;
}

/* 9.유의사항 */
.info {width:1200px; margin:0 auto; padding:100px 0;} 
.info p:first-child {
    font-size:1.333rem; letter-spacing:-0.06em; font-weight:500; margin-bottom:40px; color:#333;
}
.info p:last-child {
    letter-spacing:-0.06em; line-height:40px; color:#333;
}